.profile {
    background-color: #E7A07F;
   }
   
   .loginButton {
    margin-top: 15px;
    height: 35px;font-size: 14px;
   }
   
   .logo {
      display: block !important;
   }

   ion-grid {
        max-height: 20vh !important;
   }
   .logo>img{
       min-height: 100vh !important;
   }

   .socialLogin {
       margin-top:4%;
   }

   .socialLoginFB {
       margin-top: 2%;
   }

   .info {
    color: #9c9495;
   }
   
   ::-webkit-input-placeholder {
       color: #9c9495  !important; 
     }
     :-moz-placeholder {
       color: #9c9495  !important; 
     }
     :-ms-input-placeholder {
       /* IE10+ */
       color: #9c9495  !important; 
     }

     @media (min-width: map-get($grid-breakpoints, lg)) {
        .socialLogin, .socialLoginFB, .loginButton, .deleteAccount, .registerButton, .emailTxt, .passwordTxt, .logo {
            max-width: 50vh !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
